:root {
    --primary-light: #aeb8b7cd;
    --primary: #d4d4d4cb;
    --primary-dark: #0033ff;

    --white: #fff;
    --greyLight-0: #f9f9f9;
    --greyLight-1: #d9dce3;
    --greyLight-2: #c4c2c7;
    --greyLight-3: #bec8e4;

    --inner-padding: 1rem;
}


@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:wght@500;700&display=swap');

$shadow-1: -0.1rem -0.1rem 0.3rem var(--greyLight-0),
    0.3rem 0.3rem 0.6rem var(--greyLight-2);

$shadow-2: 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    -0.1rem -0.1rem 0.3rem var(--greyLight-0);

$shadow-3: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.1rem -0.1rem 0.3rem var(--greyLight-0);

$shadow-4: 1rem 1rem 2rem var(--greyLight-2),
    -0.5rem -0.5rem 2rem var(--greyLight-0);

$shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);

$inner-shadow-1: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.1rem -0.1rem 0.3rem var(--greyLight-0);

$inner-shadow-2: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);

$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 5rem;
}

.todo {
    max-width: 420px;
    width: 100%;
    background-color: var(--primary);
    color: var(--primary-dark);
    display: grid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: $shadow-4;

    &__title {
        font-family: 'Russo One', sans-serif;
        font-size: 3rem;
        text-align: center;
        background: #f4f3f3e6;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: rgba(0, 0, 0, 0.2) 2px 1.5px 1px;
    }

    &__form {
        padding: var(--inner-padding);
        display: flex;
        gap: 10px;
        width: 100%;
    }

    &__input {
        border: none;
        background-color: #e4e4e4;
        padding: var(--inner-padding);
        font-family: "Roboto", sans-serif;
        color:#777;
        font-size: 20px;
        flex: 1;
        border-radius: 5px;
        box-shadow: $inner-shadow-2;
    }

    &::placeholder {
        color: #e1e1e1;
    }

    &:focus {
        outline: none;
    }

    &__submit {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        background-color: var(--greyLight-4);
        color: var(--greyLight-0);
        cursor: pointer;
        transition: 0.3s ease;
        box-shadow: $shadow-2;

        &:hover {
            color: green;
        }

        &:active {
            font-size: 10px;
            box-shadow: $shadow-1;
        }

        &-secondary {
            color: #999;

            &:active {
                box-shadow: $inner-shadow;
            }
        }
    }

    &__list {
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: var(--inner-padding);
        display: grid;
        gap: 1rem;

    }

    &__item {
        background-color: var(--primary);
        border-radius: 5px;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        color: #fb2de099;
        display: flex;
        width: 330px;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 var(--inner-padding);
        box-shadow: $shadow-3;

        &--completed {
            background-color: transparent;
            box-shadow: none;
            color: #999;
            text-decoration: line-through;
            box-shadow: $inner-shadow-1;
        }
    }

    &__remove {
        transform: translateX(60px);
        height: 50px;
        width: 50px;
        background-color: var(--greyLight-4);
        color: var(--greyLight-2);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease;
        box-shadow: $shadow-2;

        &:hover {
            color: red;
        }

        &:active {
            font-size: 10px;
            box-shadow: $shadow-1;
        }

        &-secondary {
            color: #999;

            &:active {
                box-shadow: $inner-shadow;
            }
        }
    }
}